{{> menu active="settings"}}

<section class="section">
  <h1 class="title">Account Settings</h1>
  <form action="/update" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="{{userName}}" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="{{userSurname}}" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="{{userEmail}}" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Update</button>
    </div>
  </form>
</section>


<section class="section">
  <h1 class="title">Admin Settings</h1>
  
  <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}

      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <form action="/updateuser/{{_id}}" method="POST">
        <td>
        <div class="field">
        <input class="input is-small" type="password" placeholder="Enter Password" name="password">
        </div>
        </td>
        <td>
          <div class="field is-grouped">
      <button class="button is-small is-primary">Update</button>
    </div>
        </td>
        </form>
        <td>
          <a href="/deleteuser/{{_id}}" class="ui is-medium icon button">
            <i class="fas fa-trash "></i>
          </a>
        </td>
      </tr>


    {{/each}}
  </tbody>
</table>

</section>